{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center">🏬 Lojas</h2>
    <hr>

    <div class="row">
        <div class="col-md-4 offset-md-4">
            <a href="https://loja2-1.onrender.com" class="btn btn-outline-primary w-100 mb-3" target="_blank">💰 Loja 1</a>
            <a href="https://loja2-1.onrender.com" class="btn btn-outline-primary w-100 mb-3" target="_blank">💰 Loja 2</a>
            <a href="https://loja3-1.onrender.com" class="btn btn-outline-primary w-100 mb-3" target="_blank">💰 Loja 3</a>
            <a href="https://loja4.onrender.com" class="btn btn-outline-primary w-100 mb-3" target="_blank">💰 Loja 4</a>
        </div>
    </div>
</div>
{% endblock %}
